@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&family=Roboto:wght@100&display=swap');

body {
	display: flex;
	flex-direction: column;
	position: fixed;
	margin: 0;
	padding: 0;
	background-image: url('/images/ArcadeHomePage.png');
	background-repeat: no-repeat;
	font-family: 'Darker Grotesque', sans-serif;
	background-attachment: fixed;
	background-size: 100% 100%;
	overflow: scroll;
	align-items: center;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 300px rgba(0,0,0,0.9) inset;
}

h1 {
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;
}

iframe {
	margin: 50px;
}

#gamesHelp {
	text-align: center;
	color: white;
}

#welcome {
	background-color: rgb(54, 69, 79, 0.8);
	align-items: center;
	justify-content: center;
	margin: 0;
	color: white;
	font-size: 20px;
	text-align: center;
	height: auto;
	width: 50%;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	font-family: 'Press Start 2P', sans-serif;
}

#eventDetails {
	height: 100vh;
	width: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(217, 26, 50, .35);
  color: white;
  text-align: center;
}

#myEmail {
	color: white;
	text-decoration: none;
}

#myEmail:hover {
	color: #ffc000;
	text-decoration: none;
}

#myGitHub {
	color: white;
	text-decoration: none;
}

#myGitHub:hover {
	color: #ffc000;
	text-decoration: none;
}


.wrapper {
	display: flex;
	flex: none;
	justify-content: space-evenly;
	color: darkslategrey;
	background-color: rgba(217, 26, 50, .35);
	height: auto;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	margin-bottom: 50px;

}

.wrapper:hover {

}

.wrapper ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.wrapper ul li a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 25px;
	color: #fff;
	font-family: russo one;
	position: relative;

}

#searchDiv {
	display: flex;
	color: white;
	background-color: rgb(54, 69, 79, 0.8);
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 300px;
	align-items: center;
	border: 2px solid white;
}

#searchByIdBtn {
	margin-top: 20px;
}

#searchByIdBtn:hover {
	background-color: white;
	color: black;
}

#updateArcadeDiv {
	display: flex;
	color: white;
	background-color: rgb(54, 69, 79, 0.8);
	text-align: left;
	padding: 20px;
	width: 300px;
	align-items: center;
	border: 2px solid white;
}

#updateArcadeDiv > h3 {
	margin-left: 85px;
}

#newArcadeDiv {
	display: flex;
	color: white;
	background-color: rgb(54, 69, 79, 0.8);
	text-align: left;
	padding: 20px;
	width: 300px;
	align-items: center;
	border: 2px solid white;
}

#newArcadeDiv > h3 {
	margin-left: 85px;
}

input {
	margin: 5px;
}

#newArcadeBtn {
	margin-left: 130px;
}

.wrapper ul li a:hover {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0 25px;
	color: white;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
	font-family: russo one;
	position: relative;

}

.wrapper ul li a:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	color: #df7e07;
	background-color: #f6d400;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.15s linear;
}

.wrapper ul li a:hover:after {
	transform-origin: bottom left;
	transform: scaleX(1);
}

.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.15);
	color: black !important;
}

.zoomV2 {
	transition: transform .2s;
	margin: 0 auto;
}

.zoomV2:hover {
	transform: scale(1.15);
	color: #ffc000 !important;
	border: 2px solid #ffc000;
}

#arcadeList {
	  width: 400px;
	  height: 600px;
 	  width: auto;
  	  overflow-y:auto;
  	  border: solid white;
}

#tableDiv {
  border: solid white;
  background-color: grey;
  text-align: center;
  margin: 100px;
  height: 300px;
  width: 400px;
  overflow-y:auto;
}

table {
  border: solid white;
  background-color: rgb(54, 69, 79, 0.8);
  border-spacing: 0;
  border-collapse: collapse;
  width: 400px;
  height: 300px;
  text-align: center;
  overflow-y:auto;
}

table > thead > tr > th,
table > tbody > tr > td {
  color: white;
  border: solid;
  padding: 5px;
}

table > thead > tr > th {
  color: white;
  border: 1px solid white !important;
}

table > thead > tr:nth-child(odd) {
  background-color: rgb(54, 69, 79, 0.8);
}

table > tbody > tr:nth-child(even) {
  background-color: rgb(54, 69, 79, 0.8);
}

table > tbody > tr:hover,
table > tbody > tr:hover {
  background-color: grey;
  color: white;
  border: solid #ffc000 !important;
  transition: transform .2s;
  margin: 0 auto;
  transform: scale(1.02);
}

#canvas {
	display: none;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.pacman{
  margin:100px 10px;
	
}

.pacman-top{
  background-color:yellow;
  height:100px;
  width:200px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:yellow;
  height:100px;
  width:200px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -185px;
margin-left:15px;
width: 45px;
height: 45px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}

}


@-moz-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}

}


@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white,
      900px 65px 0 0 white, 
      1100px 65px 0 0 white, 
      1300px 65px 0 0 white;}
  
100% { box-shadow: 
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white, 
      700px 65px 0 0 white, 
      900px 65px 0 0 white, 
      1100px 65px 0 0 white;}

}


