.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #737687;
  color: white;
  text-align: center;
}

#myEmail {
	color: white;
	text-decoration: none;
}

#myEmail:hover {
	color: #ffc000;
	text-decoration: none;
}

#myGitHub {
	color: white;
	text-decoration: none;
}

#myGitHub:hover {
	color: #ffc000;
	text-decoration: none;
}
