.box {
  border: 10px solid #ffd862;
  min-height: 500px;
  margin: 100px;
  padding: 100px;
  font-family: monospace;
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 5px 5px white;
  color: #ff0000;
  margin-top: 15px;
}
