@import "~bootstrap/dist/css/bootstrap.css";
@import 'material-icons/iconfont/material-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {

  /* background: rgb(71,105,125);
  background: linear-gradient(90deg, rgba(71,105,125,1) 35%, rgba(104,139,153,1) 100%); */
  background-color: #b6bac5;
	font-family: 'Darker Grotesque', sans-serif;
	overflow: scroll;
	align-items: center;
}

.zoom {
	transition: transform .2s;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(1.15);
}

