<h1 id="titleHeader">All Arcades</h1>

<div class="container" *ngIf="!createArcade">
  <div class="table-wrapper" *ngIf="!selected">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-6">
          <h2><b>Arcades</b></h2>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-success" data-toggle="modal" (click)="createArcade = true"><i class="material-icons">&#xE147;</i> <span>Add New Arcade</span></a>
          <a class="btn btn-danger" data-toggle="modal" (click)="deleteArcades()"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
          </th>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let arcade of arcades">
          <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox1" name="options[]" value="1" (click)="addArcadeToDelete(arcade)">
              <label for="checkbox1"></label>
            </span>
          </td>
          <td (click)="displayArcade(arcade)">{{arcade.id}}</td>
          <td (click)="displayArcade(arcade)">{{arcade.name}}</td>
          <td (click)="displayArcade(arcade)" class="ellipsis">{{arcade.description}}</td>
          <td (click)="displayArcade(arcade)"><img id="arcadeImage" src="{{arcade.imageUrl}}"></td>
          <td>
            <a class="edit" data-toggle="modal" (click)="displayArcade(arcade)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
            <a class="delete" data-toggle="modal" (click)="deleteArcade(arcade.id)"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="selected && !editArcade" class="box">
  <img style="max-width: 300px; margin-bottom: 20px;" src="{{selected.imageUrl}}">
  <p>ID: {{selected.id}}</p>
  <p>NAME: {{selected.name}}</p>
  <p>DESCRIPTION: {{selected.description}}</p>
  <button style="margin-right: 10px;" class="btn btn-primary" (click)="setEditArcade()">Edit</button>
  <button class="btn btn-primary" (click)="displayTable()">Back</button>
</div>

<div *ngIf="selected && editArcade" class="box">
  <label class="form-label" for="task">Name</label>
  <input class="form-control" type="text" name="editArcade.name" [(ngModel)]="editArcade.name" placeholder="{{selected.name}}"><br>
  <label class="form-label" for="description">Description</label>
  <input class="form-control" type="text" name="editArcade.description" [(ngModel)]="editArcade.description" placeholder="{{selected.description}}"><br>
  <label for="imageUrl">Image URL</label>
  <input type="text" name="editArcade.imageUrl" [(ngModel)]="editArcade.imageUrl" placeholder="{{selected.imageUrl}}"><br>

  <button class="btn btn-primary" (click)="updateArcade(editArcade)">Save</button>
  <button class="btn btn-primary" (click)="editArcade = null">Cancel</button>
</div>

<div *ngIf="createArcade" class="box">
  <label class="form-label" for="task">Name</label>
  <input class="form-control" type="text" name="addArcade.name" [(ngModel)]="newArcade.name" required><br>
  <label class="form-label" for="description">Description</label>
  <input class="form-control" type="text" name="addArcade.description" [(ngModel)]="newArcade.description" required><br>
  <label for="imageUrl">Image URL</label>
  <input type="text" name="addArcade.imageUrl" [(ngModel)]="newArcade.imageUrl" required><br>

  <button class="btn btn-primary" (click)="addArcade(newArcade)">Save</button>
  <button class="btn btn-primary" (click)="createArcade = false">Back</button>
</div>
